/* import the google api font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* will realistically change these colors to be more web friendly */
* {
  margin: 0; /*supress browser defaults and select alternative box model  */
  padding: 0; /*  */
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* set variables for colors */
  --bg-primary: rgb(175, 194, 213);
  --bg-secondary: rgb(40, 83, 107);
  --font-color-primary: rgb(78, 50, 66);
  --font-color-secondary: rgb(000, 000, 60);
  --backup-color: rgb(168, 153, 153);
}

body {
  height: 100vh;
  background-color: var(--bg-primary);
}

/* style the nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: var(--font-color-primary);
  font-weight: 700;
}

.navbar nav ul {
  display: flex; /* if this doesn't work use align items and justify content */
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3 ease; /* animation must be triggered by an event */
}
/* the event that triggers line 54 and specify outcome of transition */
.navbar ul li:hover a {
  color: var(--font-color-primary);
}

/* remove margin of rightmost list item: see line 53 */
.navbar ul li:last-child a {
  margin-right: 0;
}

.hire-btn {
  background: var(--backup-color);
  color: var(--font-color-primary);
  padding: 6px 16px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.hire-btn:hover {
  background: var(--font-color-secondary);
  color: var(--bg-primary);
}
/* styling the hero section */
.hero-section {
  height: 640px; /* shazam */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* spc-btwn, spe-e, spc-aro might be better options */
}

.hero-section h4 {
  font-size: 32px;
  color: var(--font-color-primary);
  font-weight: 600;
}

.hero-section h4 span {
  color: var(--font-color-secondary);
  text-decoration: underline;
}

/* class name of a paragraph=title */
.hero-section p.title {
  font-size: 44px; /* shazam */
  font-weight: 600;
  color: var(--font-color-primary);
  margin-top: 8px; /* shazam */
}

.hero-section p.subtitle {
  font-size: 16px;
  color: var(--font-color-primary);
  margin-top: 8px;
}

.hero-section img {
  width: 200px;
  height: 150px;
  margin-top: 100px;
  border-radius: 65%;
}

/* style the services assurance sub section after hero section */
.service-assurance {
  margin-top: 50px;
  padding: 0 100px;
  display: flex; /* can also use align items and justify content */
  /* flex wrap: no-wrap means if item grows, it will not be contained*/
  justify-content: space-between;
}

.service-assurance .item {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 0 30px; /* y first, x second. 0 on y, amnt on x */
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3 ease; /* specify what changes, time, how */
}

.service-assurance .item:hover {
  /* shazam! subjective way to style */
  border-color: var(--font-color-primary);
}

.service-assurance .item .icon {
  width: 46px;
  height: 46px;
  background: var(--backup-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.service-assurance .item:hover .icon {
  background: var(--font-color-primary);
}

.service-assurance .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; /* use gap css property if you want space and don't use this */
}

.service-assurance .item .info h3 {
  color: var(--font-color-secondary);
  font-size: 28px;
}
.service-assurance .item .info p {
  color: var(--font-color-secondary);
  font-size: 15px;
  font-weight: 600;
}

/* immediate child of item */
.service-assurance .item > i {
  color: var(--bg-primary);
  font-size: 30px;
  transition: color 0.3s ease;
}

.service-assurance .item:hover > i {
  color: var(--font-color-primary);
}

/* style the section separator titles */
.section-separator-title {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5); /* opacity = 0.08 */
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 0 50px;
}

.about-me img {
  width: 400px;
  height: 450px;
  margin-top: 100px;
}

.about-me .info h3 {
  color: var(--font-color-primary);
  font-size: 32px;
  font-weight: 600px;
  margin-top: 10px;
}

.about-me .info p {
  color: var(--font-color-primary);
  font-size: 14px;
}

.about-me .info button {
  margin-top: 5px;
}

/* skills section 
      .left
        .info
          h3
          p
          .hire-btn
      .right
        .icon > i*12
              */
.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
}

.skills .left {
  width: 680px;
}

.skills .left .info h3 {
  color: var(--font-color-primary);
  font-size: 30px;
}

.skills .left .info p {
  color: var(--font-color-secondary);
  font-size: 14px;
}

.skills .left .info button {
  margin-top: 30px;
}
.skills .right {
}
