/* import the google api font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* will realistically change these colors to be more web friendly */
* {
  margin: 0; /*supress browser defaults and select alternative box model  */
  padding: 0; /*  */
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* set variables for colors */
  --bg-primary: rgb(175, 194, 213);
  --bg-secondary: rgb(40, 83, 107);
  --font-color-primary: rgb(78, 50, 66);
  --font-color-secondary: rgb(000, 000, 60);
  --backup-color: rgb(168, 153, 153);
}

body {
  height: 100vh;
  background-color: var(--bg-primary);
}

/* style the nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.navbar h2 {
  color: var(--font-color-primary);
  font-weight: 700;
}

.navbar nav ul {
  display: flex; /* if this doesn't work use align items and justify content */
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3 ease; /* animation must be triggered by an event */
}
/* the event that triggers line 54 and specify outcome of transition */
.navbar ul li:hover a {
  color: var(--font-color-primary);
}

/* remove margin of rightmost list item: see line 53 */
.navbar ul li:last-child a {
  margin-right: 0;
}

.hire-btn {
  background: var(--backup-color);
  color: var(--font-color-primary);
  padding: 6px 16px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.hire-btn:hover {
  background: var(--font-color-secondary);
  color: var(--bg-primary);
}
/* styling the hero section */
.hero-section {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section h4 {
  font-size: 32px;
  color: var(--font-color-primary);
  font-weight: 600;
}

.hero-section h4 span {
  color: var(--font-color-secondary);
  text-decoration: underline;
}

.hero-section .title {
  font-size: 44px;
  font-weight: 600;
  color: var(--font-color-primary);
  margin-top: 8px;
}

.hero-section .subtitle {
  font-size: 16px;
  color: var(--font-color-primary);
  margin-top: 20px;
  text-align: center;
}

.hero-section img {
  width: 200px;
  height: 150px;
  margin-top: 100px;
  border-radius: 65%;
}
/* style the services assurance sub section after hero section */
.service-assurance {
  margin-top: 50px;
  padding: 0 100px;
  display: flex; /* can also use align items and justify content */
  /* flex wrap: no-wrap means if item grows, it will not be contained*/
  justify-content: space-between;
}

.service-assurance .item {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 0 30px; /* y first, x second. 0 on y, amnt on x */
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3 ease; /* specify what changes, time, how */
}

.service-assurance .item:hover {
  /* shazam! subjective way to style */
  border-color: var(--font-color-primary);
}

.service-assurance .item .icon {
  width: 46px;
  height: 46px;
  background: var(--backup-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.service-assurance .item:hover .icon {
  background: var(--font-color-primary);
}

.service-assurance .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; /* use gap css property if you want space and don't use this */
}

.service-assurance .item .info h3 {
  color: var(--font-color-secondary);
  font-size: 28px;
}
.service-assurance .item .info p {
  color: var(--font-color-secondary);
  font-size: 15px;
  font-weight: 600;
}

/* immediate child of item */
.service-assurance .item > i {
  color: var(--bg-primary);
  font-size: 30px;
  transition: color 0.3s ease;
}

.service-assurance .item:hover > i {
  color: var(--font-color-primary);
}

/* style the section separator titles */
.section-separator-title {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5); /* opacity = 0.08 */
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 0 50px;
}

.about-me img {
  width: 400px;
  height: 450px;
  margin-top: 100px;
}

.about-me .info h3 {
  color: var(--font-color-primary);
  font-size: 32px;
  font-weight: 600px;
  margin-top: 10px;
}

.about-me .info p {
  color: var(--font-color-primary);
  font-size: 14px;
}

.about-me .info button {
  margin-top: 5px;
}

/* skills section 
      .left
        .info
          h3
          p
          .hire-btn
      .right
        .icon > i*12
              */
.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
}

.skills .left {
  width: 680px;
}

.skills .left .info h3 {
  color: var(--font-color-primary);
  font-size: 30px;
}

.skills .left .info p {
  color: var(--font-color-secondary);
  font-size: 14px;
}

.skills .left .info button {
  margin-top: 30px;
}
/* total width of both columns in the skills section = 1000px 
~ avg desktop view */
.skills .right {
  width: 420px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skills .right .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--backup-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.skills .right .icon i {
  font-size: 34px;
}

footer {
  position: relative;
  background-color: var(--bg-secondary);
  padding: 80px 50px 40px;
  margin-top: 100px;
}

footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute; /* position is absolute, relative to PARENT node (in this case, footer) */
  background-color: var(--font-color-secondary);
  color: var(--backup-color);
  padding: 30px 25px;
  border-radius: 15px;
  width: 70%;
  top: -16%; /* top from parent, 'footer'
  the - will bleed into the bottom of the thing on top of footer */
  left: 15%;
}

footer .start p {
  font-size: 13px;
  width: 35%;
}

footer .start button {
  background: transparent;
  border: 1px solid var(--bg-primary);
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
}

footer .start button:hover {
  background-color: var(--backup-color);
  border-color: var(--bg-primary);
}

footer .cols {
  display: flex;
  align-items: flex-start;
}

footer .cols .about-col {
  flex: 2; /*determines starting width of item.*/
}

footer .cols .about-col h3 {
  color: var(--font-color-primary);
  margin-bottom: 20px;
}

footer .cols .about-col p {
  color: var(--bg-primary);
  font-size: 15px;
}

footer .cols .links-col {
  flex: 3;
}

footer .cols .links-col h4,
footer .cols .news-col h4 {
  color: #f5f7f8;
  margin-bottom: 20px;
}

footer .cols .links-col a {
  display: block;
  text-decoration: none;
  color: var(--bg-primary);
  font-size: 14px;
  line-height: 26px;
  transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
  color: var(--font-color-secondary);
}

footer .cols .news-col {
  flex: 3;
}

footer .cols .news-col p {
  color: var(--bg-primary);
  font-size: 15px;
}

footer .cols .news-col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

footer .cols .news-col form input {
  width: 100%;
  background: var(--font-color-secondary);
  border: none;
  padding: 13px;
  font-weight: 400;
  font-size: 13px;
}

footer .cols .news-col form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: var(--bg-primary);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 1%;
  cursor: pointer;
  transition: background 0.3s ease;
}

footer .cols .news-col form button:hover {
  background: var(--font-color-primary);
}

footer .cols .news-col form button i {
  font-size: 26px;
  color: var(--font-color-primary);
}

footer .cols .news-col form button:hover i {
  color: var(--bg-primary);
}
/* BEGIN styling for CSS responsive web design */
/* css media queries concept (similar to if-else statements) */

@media screen and (max-width: 1100px) {
  .services-assurance {
    flex-wrap: wrap;
    gap: 10px;
  }

  .services-assurance .item {
    flex-basis: 49%;
  }

  .skills {
    justify-content: space-between;
    gap: 20px;
  }

  .skills .left {
    width: 500px;
  }

  .skills .left .info h3 {
    font-size: 22px;
  }

  .skills .left .info p {
    font-size: 12px;
  }

  footer {
    margin-top: 150px;
  }

  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }

  footer .cols {
    flex-wrap: wrap;
  }

  footer .cols .about-col {
    flex-basis: 50%;
  }

  footer .cols .links-col {
    flex-basis: 50%;
  }

  footer .cols .news-col {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 780px) {
  .navbar button {
    display: none;
  }

  .main h4 {
    font-size: 24px;
  }

  .main p.title {
    font-size: 36px;
  }

  .main p.subtitle {
    font-size: 14px;
  }

  .services-assurance .item {
    flex-basis: 100%;
  }

  .about-me {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    justify-content: center;
  }

  .navbar h2 {
    display: none;
  }

  .navbar ul li a {
    font-size: 14px;
  }

  .main {
    margin-top: 50px;
    height: 320px;
    justify-content: start;
  }

  .main h4 {
    font-size: 20px;
  }

  .main p.title {
    font-size: 28px;
  }

  .main p.subtitle {
    font-size: 12px;
  }

  .main img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills .right {
    justify-content: space-between;
  }

  .skills .left .info h3 {
    font-size: 20px;
  }

  footer .start {
    top: -8%;
  }

  footer .start {
    display: none;
  }

  footer .cols .about-col {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  footer .cols .links-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  footer .cols .news-col {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .main p.title {
    font-size: 18px;
  }

  .main p.subtitle {
    font-size: 10px;
  }

  .services-assurance .item .info h3 {
    font-size: 20px;
  }
  .services-assurance .item .info p {
    font-size: 12px;
  }
}
